{% extends 'base.html' %}

{% block content %}
    <h1>DETAIL</h1>
    <p>글 번호 : {{article.pk}}</p><br>
    <p>글 제목 : {{article.title}}</p><br>
    <p>글 내용 : {{article.content}}</p><br>
    <p>작성 시간 : {{article.created_at}}</p><br>
    <p>수정 시간 : {{article.updated_at}}</p><br>
    <a href=" {% url 'articles:update' article.pk %} ">UPDATE</a>
    <form action="{% url 'articles:delete' article.pk %}" method='POST'>
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
    <hr>
    <a href="{% url 'articles:index' %}">뒤로</a>
{% endblock content %}

